#navbar {
    top: 0;
    position: sticky;
    width: 100%;
    z-index: 100;
    background-color: rgb(11, 11, 11);
}

.contact-navBtn {
    transition: all .3s ease;
}

.contact-navBtn:hover {
    background: rgba(245, 245, 245, 0.744);
    border: 2px solid black;
    color: black;
}

#menuItem li {
    list-style: none;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#menuItem li::after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: aqua;
    transform: translateX(-110%);
    transition: all 0.3s ease;
    z-index: -1;
}

#menuItem li:hover::after {
    transform: translateX(0%);
    color: black;
}

.nav-hamMenu {
    display: none;
}

@media (max-width: 1085px) {
    #nav-menu {
        display: none;
    }

    .nav-hamMenu {
        display: block;
    }
}